language: android

jdk: oraclejdk8

before_install:
  - chmod +x gradlew

android:
  components:
    - platform-tools
    - tools
    - build-tools-25.0.2
    - extra-android-support-25.1.0
    - extra-google-m2repository
    - extra-android-m2repository
    - android-25
    - sys-img-armeabi-v7a-android-25
    - sys-img-x86-android-25

  licenses:
    - 'android-sdk-preview-license-52d11cd2'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'

notifications:
  email: false

